<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawableShapeActivity" />
        <activity android:name=".DrawableNineActivity" />
        <activity android:name=".DrawableStateActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".SwitchDefaultActivity" />
        <activity android:name=".SwitchIOSActivity" />
        <activity android:name=".RadioHorizontalActivity" />
        <activity android:name=".RadioVerticalActivity" />
        <activity android:name=".EditSimpleActivity" />
        <activity android:name=".EditBorderActivity" />
        <activity android:name=".EditFocusActivity" />
        <activity android:name=".EditHideActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".LoginMainActivity" />
        <activity android:name=".LoginForgetActivity" />
    </application>

</manifest>