<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FrameAnimActivity" />
        <activity android:name=".GifActivity" />
        <activity android:name=".FadeAnimActivity" />
        <activity android:name=".TweenAnimActivity" />
        <activity android:name=".SwingAnimActivity" />
        <activity android:name=".AnimSetActivity" />
        <activity android:name=".ObjectAnimActivity" />
        <activity android:name=".ObjectGroupActivity" />
        <activity android:name=".InterpolatorActivity" />
        <activity android:name=".BezierCurveActivity" />
        <activity android:name=".RewardGiftActivity" />
        <activity android:name=".DrawLayerActivity" />
        <activity android:name=".ShutterActivity" />
        <activity android:name=".MosaicActivity" />
        <activity android:name=".ScrollerActivity" />
        <activity
            android:name=".YingjiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompatTheme" />
    </application>

</manifest>