<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter03">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextViewActivity" />
        <activity android:name=".TextSizeActivity" />
        <activity android:name=".TextColorActivity" />
        <activity android:name=".ViewBorderActivity" />
        <activity android:name=".ViewMarginActivity" />
        <activity android:name=".ViewGravityActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".LinearWeightActivity" />
        <activity android:name=".GridLayoutActivity" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".ButtonStyleActivity" />
        <activity android:name=".ButtonClickActivity" />
        <activity android:name=".ButtonLongclickActivity" />
        <activity android:name=".ButtonEnableActivity" />
        <activity android:name=".ImageScaleActivity" />
        <activity android:name=".ImageButtonActivity" />
        <activity android:name=".ImageTextActivity" />
        <activity android:name=".CalculatorActivity" />
    </application>

</manifest>