<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chapter09">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabNavigationActivity" />
        <activity android:name=".TabButtonActivity" />
        <activity android:name=".TabPagerActivity" />
        <activity
            android:name=".ToolbarActivity"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".OverflowMenuActivity"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TabLayoutActivity"
            android:theme="@style/AppCompatTheme" />
        <activity android:name=".RecyclerLinearActivity" />
        <activity android:name=".RecyclerGridActivity" />
        <activity android:name=".RecyclerCombineActivity" />
        <activity android:name=".RecyclerStaggeredActivity" />
        <activity android:name=".RecyclerDynamicActivity" />
        <activity android:name=".SwipeRecyclerActivity" />
        <activity android:name=".ViewPager2RecyclerActivity" />
        <activity android:name=".ViewPager2FragmentActivity" />
        <activity android:name=".DepartmentStoreActivity" android:theme="@style/AppCompatTheme" />
    </application>

</manifest>